## EDA (Exploratory Data Analysis)
Exploratory Data Analysis (EDA) is an approach to analyze the data using visual techniques and statistical techniques. It is used to discover trends, patterns, or to check assumptions with the help of statistical summary and graphical representations.

Steps involved in EDA

1.Describing the data

2.Data cleaning

3.Imputation techniques

4.Data analysis and visualization

5.Transformations

6.Auto EDA

In [1]:
#load the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('C://Users//pawar//Data science//Csv_files//data_clean.csv',index_col=0)#No index column will be displayed

In [3]:
data.head()

   Ozone  Solar.R  Wind Month  Day  Year  Temp Weather
1   41.0    190.0   7.4     5    1  2010    67       S
2   36.0    118.0   8.0     5    2  2010    72       C
3   12.0    149.0  12.6     5    3  2010    74      PS
4   18.0    313.0  11.5     5    4  2010    62       S
5    NaN      NaN  14.3     5    5  2010    56       S

In [4]:
data

     Ozone  Solar.R  Wind Month  Day  Year  Temp Weather
1     41.0    190.0   7.4     5    1  2010    67       S
2     36.0    118.0   8.0     5    2  2010    72       C
3     12.0    149.0  12.6     5    3  2010    74      PS
4     18.0    313.0  11.5     5    4  2010    62       S
5      NaN      NaN  14.3     5    5  2010    56       S
..     ...      ...   ...   ...  ...   ...   ...     ...
154   41.0    190.0   7.4     5    1  2010    67       C
155   30.0    193.0   6.9     9   26  2010    70      PS
156    NaN    145.0  13.2     9   27  2010    77       S
157   14.0    191.0  14.3     9   28  2010    75       S
158   18.0    131.0   8.0     9   29  2010    76       C

[158 rows x 8 columns]

In [5]:
data.tail(10)

     Ozone  Solar.R  Wind Month  Day  Year  Temp Weather
149   30.0    193.0   6.9     9   26  2010    70       C
150    NaN    145.0  13.2     9   27  2010    77      PS
151   14.0    191.0  14.3     9   28  2010    75       S
152   18.0    131.0   8.0     9   29  2010    76      PS
153   20.0    223.0  11.5     9   30  2010    68       S
154   41.0    190.0   7.4     5    1  2010    67       C
155   30.0    193.0   6.9     9   26  2010    70      PS
156    NaN    145.0  13.2     9   27  2010    77       S
157   14.0    191.0  14.3     9   28  2010    75       S
158   18.0    131.0   8.0     9   29  2010    76       C

In [6]:
#Data Structure 
print(type(data))
print(data.shape)

<class 'pandas.core.frame.DataFrame'>
(158, 8)

In [7]:
#data types
data.dtypes # check data types of all variables

Ozone      float64
Solar.R    float64
Wind       float64
Month       object
Day          int64
Year         int64
Temp         int64
Weather     object
dtype: object

In [8]:
data.describe()

            Ozone     Solar.R        Wind         Day    Year        Temp
count  120.000000  151.000000  158.000000  158.000000   158.0  158.000000
mean    41.583333  185.403974    9.957595   16.006329  2010.0   77.727848
std     32.620709   88.723103    3.511261    8.997166     0.0    9.377877
min      1.000000    7.000000    1.700000    1.000000  2010.0   56.000000
25%     18.000000  119.000000    7.400000    8.000000  2010.0   72.000000
50%     30.500000  197.000000    9.700000   16.000000  2010.0   78.500000
75%     61.500000  257.000000   11.875000   24.000000  2010.0   84.000000
max    168.000000  334.000000   20.700000   31.000000  2010.0   97.000000

In [9]:
data.info() # find missing values / null values

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158 entries, 1 to 158
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    120 non-null    float64
 1   Solar.R  151 non-null    float64
 2   Wind     158 non-null    float64
 3   Month    158 non-null    object
 4   Day      158 non-null    int64
 5   Year     158 non-null    int64
 6   Temp     158 non-null    int64
 7   Weather  155 non-null    object
dtypes: float64(3), int64(3), object(2)
memory usage: 11.1+ KB

# Data type conversion

In [10]:
data['Month']=pd.to_numeric(data['Month'],errors='coerce') #replace with  NA 
data['Temp C']=pd.to_numeric(data['Temp C'],errors='coerce')# coerce will introduce NA values for non numeric data in the columns
data['Weather']=data['Weather'].astype('category') #data['Wind']=data['Wind'].astype('int64')

KeyError: 'Temp C'

In [ ]:
data.info()

In [ ]:
#https://stackoverflow.com/questions/15891038/change-column-type-in-pandas

# Duplicates

In [11]:
data.duplicated() # if any 2 rows has same values

1      False
2      False
3      False
4      False
5      False
       ...
154    False
155    False
156    False
157     True
158    False
Length: 158, dtype: bool

In [12]:
#Count of duplicated rows
data[data.duplicated()].shape

(1, 8)

In [13]:
data

     Ozone  Solar.R  Wind  Month  Day  Year  Temp Weather
1     41.0    190.0   7.4    5.0    1  2010    67       S
2     36.0    118.0   8.0    5.0    2  2010    72       C
3     12.0    149.0  12.6    5.0    3  2010    74      PS
4     18.0    313.0  11.5    5.0    4  2010    62       S
5      NaN      NaN  14.3    5.0    5  2010    56       S
..     ...      ...   ...    ...  ...   ...   ...     ...
154   41.0    190.0   7.4    5.0    1  2010    67       C
155   30.0    193.0   6.9    9.0   26  2010    70      PS
156    NaN    145.0  13.2    9.0   27  2010    77       S
157   14.0    191.0  14.3    9.0   28  2010    75       S
158   18.0    131.0   8.0    9.0   29  2010    76       C

[158 rows x 8 columns]

In [14]:
#Print the duplicated rows, Record 151 and 157 are duplicate rows
data[data.duplicated()]

     Ozone  Solar.R  Wind  Month  Day  Year  Temp Weather
157   14.0    191.0  14.3    9.0   28  2010    75       S

In [15]:
data_cleaned1=data.drop_duplicates()

In [16]:
data_cleaned1.shape

(157, 8)

# Drop columns

In [ ]:
data

In [ ]:
data_cleaned2=data_cleaned1.drop('Temp C',axis=1)

In [ ]:
data_cleaned2

# Rename the columns

In [ ]:
#rename the Solar column, Pass parameter in dictionary form
data_cleaned3 = data_cleaned2.rename({'Solar.R': 'Solar'}, axis=1)

In [ ]:
data_cleaned3

# Outlier Detection

In [ ]:
# histogram of Ozone
data_cleaned3['Ozone'].hist()

In [ ]:
#Box plot
data_box=data_cleaned3.dropna()# data set is: data_box
data1_box=data_box.Ozone #in data1_box we are saving ozone column
plt.boxplot(data1_box)
#plt.show()

In [ ]:
# Extracting outliers
box=plt.boxplot(data1_box)      # storing in variable box

In [ ]:
box

In [ ]:
#easiest method to find outlier
[item.get_ydata() for item in box['fliers']] #fliers are outliers- it returns exact outlier values

In [ ]:
# Step by Step method to find outlier

In [ ]:
# Calculate the IQR
Q1 = data_cleaned3['Ozone'].quantile(0.25)
Q3 = data_cleaned3['Ozone'].quantile(0.75)
Q1,Q3

In [ ]:
IQR = Q3 - Q1
IQR

In [ ]:
# Define the lower and upper bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
lower_bound,upper_bound

In [ ]:
#find outliers
outliers=data_cleaned3[(data_cleaned3['Ozone']<lower_bound)| (data_cleaned3['Ozone']>upper_bound)]
outliers

In [ ]:
#Descriptive stat
data_cleaned3['Ozone'].describe() #describes() tells outlier might be there  and boxplot makes it sure that there are outlires

In [ ]:
data_cleaned3

In [ ]:
#Bar plot - to identify outliers in categorical data - get count of unique values
data['Weather'].value_counts()

In [ ]:
#Bar plot - to identify outliers in categorical data
data['Weather'].value_counts().plot.bar()  #using original data name data

# Missing Values and Imputation

In [ ]:
import seaborn as sns # in seaborn documentation color codes are mentioned
cols = data_cleaned3.columns # save column names in cols dataset
# colours = ['blue','yellow'] # specify the colours - yellow is missing. blue is not missing.
colours=['#000099', '#ffff00']
sns.heatmap(data_cleaned3[cols].isnull(),
            cmap=sns.color_palette(colours)) # map colors T = Yellow, F = Blue

In [ ]:
cols

In [ ]:
data_cleaned3[data_cleaned3.isnull().any(axis=1)].head() # find cloumn wise null values

In [ ]:
data_cleaned3.isnull().sum()

In [ ]:
data_cleaned3.info()

In [ ]:
#Mean Imputationa for numerical data
mean = data_cleaned3['Ozone'].mean()
print(mean)

In [ ]:
data_cleaned3['Ozone'] = data_cleaned3['Ozone'].fillna(mean) # use mean of ozone col. to fill na values
                                                              # for numerical value we do mean imputartion

In [ ]:
data_cleaned3

In [ ]:
#Missing value imputation for categorical vlaue
#Get the object columns
obj_columns=data_cleaned3[['Weather']]
obj_columns

In [ ]:
obj_columns.isnull().sum()

In [ ]:
#Missing value imputation for categorical vlaue
obj_columns=obj_columns.fillna(obj_columns.mode().iloc[0]) # for categorical value we do mode imputation

In [ ]:
obj_columns

In [ ]:
obj_columns.isnull().sum()

In [ ]:
data_cleaned3

In [ ]:
obj_columns.shape

In [ ]:
data_cleaned4=data_cleaned3.drop(['Weather'],axis=1,inplace=True)

In [ ]:
data_cleaned3

In [ ]:
#Join the data set with imputed object dataset
data_cleaned4=pd.concat([data_cleaned3,obj_columns],axis=1)

In [ ]:
data_cleaned4

In [ ]:
data_cleaned4.isnull().sum()

In [ ]:
data_cleaned4.info()

In [ ]:
# mean imputation for solar column
mean=data_cleaned4['Solar'].mean()
mean

In [ ]:
data_cleaned4['Solar'] = data_cleaned4['Solar'].fillna(mean)

In [ ]:
data_cleaned4.isnull().sum()

In [ ]:
data_cleaned4.info()

In [ ]:
# mean imputation for Month column
mean=data_cleaned4['Month'].mean()
mean

In [ ]:
data_cleaned4['Month'] = data_cleaned4['Month'].fillna(mean)

In [ ]:
data_cleaned4

In [ ]:
data_cleaned4.isnull().sum()

In [ ]:
data_cleaned4.info()

# Scatter plot and Correlation analysis

In [ ]:
# Seaborn visualization library
import seaborn as sns
# Create the default pairplot
#pd.plotting.scatter_matrix(data_cleaned3)
sns.pairplot(data_cleaned3) # diagonal - histogram, other - scatter plot

In [ ]:
#Correlation
data_cleaned3.corr() # corr. between same variables is always 1.

# Transformations

In [ ]:
data_cleaned4

In [ ]:
#Creating dummy variable for Weather column
data_cleaned4=pd.get_dummies(data,columns=['Weather'])   # here we used original data that is data

In [ ]:
data_cleaned4

In [ ]:
data_cleaned4=data_cleaned4.dropna()

In [ ]:
# data_cleaned4

# Normalization of the data -scaling down data to uniform scle

In [ ]:
#Normalization of the data
from numpy import set_printoptions
from sklearn.preprocessing import MinMaxScaler

In [ ]:
data_cleaned4.values

In [ ]:
array = data_cleaned4.values

scaler = MinMaxScaler(feature_range=(0,1)) # desired range of transformed data 0 to 1
rescaledX = scaler.fit_transform(array)# apply normalization on array

#transformed data
set_printoptions(precision=2)
print(rescaledX[0:5,:])

# Standerdization

In [ ]:
# Standardize data (0 mean, 1 stdev)
from sklearn.preprocessing import StandardScaler

In [ ]:
array = data_cleaned4.values
scaler = StandardScaler()                        # for standardscalar the range is -3 to 3 
#scaler.fit(array)                               # standardization is noting  bur z score only ( z = (x-Î¼)/Ïƒ)
rescaledX = scaler.fit_transform(array)         #x=observed value ,Î¼ is the population mean ,Ïƒ is the population standard deviation

# summarize transformed data
set_printoptions(precision=2)
print(rescaledX[0:5,:])

# Speed up the EDA process

In [ ]:
!pip install pandas-profiling

In [ ]:
!pip install sweetviz

In [ ]:
import pandas_profiling as pp
import sweetviz as sv
import joblib

In [ ]:
EDA_report= pp.ProfileReport(data,vars={"num":{"low_categorical_threshold":0}})

In [ ]:
EDA_report

In [ ]:
sweet_report = sv.analyze(data)
sweet_report.show_html('weather_report.html')

# EDA (Exploratory Data Analysis)
Exploratory Data Analysis (EDA) is an approach to analyze the data using visual techniques and statistical techniques. It is used to discover trends, patterns, or to check assumptions with the help of statistical summary and graphical representations.

Steps involved in EDA


1.Describing the data

2.Data cleaning

3.Imputation techniques

4.Data analysis and visualization

5.Transformations

6.Auto EDA

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams['figure.figsize'] = (10,5) # width,height  rcparams is fuction where rc is suntime configuration param is parameter
plt.rcParams['figure.dpi'] = 300   # clarity of image
%matplotlib inline  #  to show graph withjout writting plt.show()
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv('C://Users//pawar//Data science//Csv_files//data_clean.csv', index_col=0)
df

In [ ]:
df.describe()  # to know skwness as mean is greater than median this is positive skwness ,outlier , missing values

In [ ]:
df.describe(include=object)  # descpriptive stats for categorical data

In [ ]:
df.dtypes

In [ ]:
df.info()  # to know null values ,data types ,no.of columns , no.of rows (records)

 * As we can see that,

* 'Month' column has all the numeric data still python has shown us that it is object.

* We will have to find out the reason and change the data type of the column.

# Data type conversion

In [ ]:
df['Month']

In [ ]:
df['Month'].unique()

In [ ]:
df['Month'].value_counts()

In [ ]:
df['Month'].replace('May','5', inplace=True)  # inplace is use to do permanent change

In [ ]:
df['Month'].unique()

In [ ]:
df.dtypes

In [ ]:
df.head()

In [ ]:
df['Month'].astype(int)

In [ ]:
df.dtypes

In [ ]:
df['Month'] = df['Month'].astype(int)

In [ ]:
df.dtypes

In [ ]:
df['Month'].value_counts()

In [ ]:
df.head()

In [ ]:
df['Wind'].replace([7.4,8.0],['A','B'])      # temporary cahnge

In [ ]:
df.head()

# Duplicates

In [ ]:
df

In [ ]:
df.duplicated()

In [ ]:
df.duplicated().sum()

In [ ]:
#Print the duplicated values
df[df.duplicated()]

In [ ]:
#df.duplicated(keep = False)

In [ ]:
df[df.duplicated(keep=False)]

In [ ]:
#Drop Duplicated records
df.drop_duplicates(inplace=True)

In [ ]:
df.shape

In [ ]:
df.duplicated().sum()

# Drop columns

* There is one column which only has single different value.
* We need to get rid of all the uneccesary columns or else it will be very complex data.

In [ ]:
df.head()

In [ ]:
df.drop(columns=['Year'], inplace=True)#this is for column deletion  df.drop(index=[1,3], inplace=True) inplace is use to permanent deletion

In [ ]:
df.head()

# Rename the columns

In [ ]:
df.head()

In [ ]:
df.rename(columns={'Solar.R':'Solar','Temp':'Temperature'},inplace=True)

In [ ]:
df

# Missing value imputation
* In dataset, missing data, or missing values, occur when no data value is stored for the variable in an observation.

* Missing data are a common occurrence and can have a significant effect on the conclusions that can be drawn from the data.

* If we don't impute or handle null values, we will not be able to create a machine learning model as python does not understand 
   missing values.
    
* Handling missing values is a crucial step in EDA.

* Missing values can appear for several reasons like:
    * Incomplete data entry
    
    * Issues with 
    
    * Improper handling of data
    
    * And many more.

In [ ]:
df

In [17]:
#Checking null values
df.isna() #is.null()

NameError: name 'df' is not defined

In [18]:
df.isna().sum()

NameError: name 'df' is not defined

In [ ]:
df.isnull().sum()

In [ ]:
#Visualizing missing values
sns.heatmap(df.isna())

In [ ]:
#Calculate the percentage of missig values in each column.
for i in df.isna().sum():
    print((i/len(df))*100)

# Rule for missing value imputation:

1.If NA values are between 1 to 5%, drop na (rows)

2.If NA value are 5 to 40%, fillna(replace)

3.If NA values are greater than 50% in a column, drop that entire column.

In [ ]:
df

In [ ]:
df.hist()     # to check outlier
plt.tight_layout() # it avoid ovelapping of name

In [ ]:
df.boxplot()       # to check outlier

In [ ]:
ozone_median = df['Ozone'].median()  # if outlier present we use median value to fill NA vale
ozone_median

In [ ]:
df['Ozone'].fillna(ozone_median, inplace=True)

In [ ]:
df.isna().sum()

In [ ]:
df['Solar'].mean()

In [ ]:
 df['Solar'].fillna(df['Solar'].mean(), inplace=True)# if outlier is not  present we use mean value to fill NA vale

In [ ]:
df.isna().sum()

In [ ]:
df['Weather'].value_counts()

In [ ]:
df['Weather'].mode()

In [ ]:
df['Weather'].mode()[0]

In [ ]:
df['Weather'].fillna(df['Weather'].mode()[0], inplace=True)

In [ ]:
df.isna().sum()

# Outlier detection

* There are multiple approaches to detect outliers in the dataset.

       * Histogram
       
       * Boxplot
       
       * Descriptive stats for df

In [ ]:
df

In [ ]:
df.describe()

In [ ]:
df.hist()
plt.tight_layout()

In [ ]:
df.boxplot()

In [ ]:
sns.boxplot(x = df['Ozone'])

In [ ]:
def concat(word1,word2):           # Basic Fumction
    print(word1+' '+word2)

In [ ]:
concat('python','lecture')

In [ ]:
#Outlier detection function
def outlier_detection(data,colname):
    q1 = data[colname].quantile(0.25)
    q3 = data[colname].quantile(0.75)
    iqr = q3-q1
    
    upper = q3+(1.5*iqr)
    lower = q1-(1.5*iqr)
    
    return lower,upper

In [ ]:
outlier_detection(df, 'Ozone')       # values less than -15 and grater than 81 are outliers

In [ ]:
#outlier_detection(df,df.columns)    # This code will give lower and upper values for all columns axcept categorical column
outlier_detection(df, 'Solar')

In [ ]:
import plotly.express as pe  # Extra Part  plotly we use for data extraction

In [ ]:
#pe.box(df['Temperature'])# Extra Part  keep the poiter anywhere on the boxplot it will tell all values like upper ,lower extreme

In [ ]:
#pe.scatter(x=df['Ozone'],y=df['Temperature'])  #Extra part

In [ ]:
df[df['Ozone']>81.0]

In [ ]:
len(df[df['Ozone']>81.0])

In [ ]:
df.loc[df['Ozone'] > 81.0,'Ozone']  # loc allows us to put name of the column

### Capping Outliers

* Raplace all outlier values with uppper extreme values so that we need not to remove outlire values

In [ ]:
df.loc[df['Ozone']>81.0,'Ozone'] = 81.0

In [ ]:
df[df['Ozone']==81.0]

In [ ]:
sns.boxplot(x = df['Ozone'])

In [ ]:
outlier_detection(df, 'Wind')

In [ ]:
sns.boxplot(x = df['Wind'])

In [ ]:
df[df['Wind'] > 17.65]

In [ ]:
# Selecting only normal data points 
# data = df[df['Wind'] < 17.65]
# data

In [ ]:
df.loc[df['Wind']>17.65,'Wind'] = 17.65

In [ ]:
df.boxplot()

In [ ]:
df.shape

# Scatter Plot and Correlation

In [ ]:
sns.pairplot(df) # to see correlation

In [ ]:
#Correlation coefficient
df.corr()        #df.corr(numeric_only=True)

In [ ]:
sns.heatmap(df.corr(numeric_only=True),annot=True, cmap='viridis')#the heatmap for large amount of data annot will give values of correlation cmap gives colors

# Transformations

* Machines do not understand words and sentences.

* Machines only understand numbers.

* Before model building, we have convert all the categorical columns into numerical.

In [ ]:
df.head()

In [ ]:
#Encoding using pandas dummy function.One Hot Encoding
df = pd.get_dummies(data=df,columns= ['Weather'])

In [ ]:
df

# Scaling the data

* Normalization
  * Scales value within the range of 0 to 1.
* Standardization
  * Uses Z score for scaling.
  * Scale values in such a way that the mean = 0 and standard deviation is 1.
  
* We can either use  Standardization or Normalization the purpose of these is bring down each and every column to same scale
or to avoid biasness in machine learning algorithms

In [ ]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [ ]:
#Standardization           # Formula : z = X â€“ Î¼ / Ïƒ
sc = StandardScaler()

In [ ]:
df.describe()

In [ ]:
df.head(2)

In [ ]:
sc.fit_transform(df)

In [ ]:
df.columns

In [ ]:
scaled_data = pd.DataFrame(sc.fit_transform(df), columns=df.columns) # converted scaled values into dataframe
scaled_data

In [ ]:
scaled_data.describe()   # now its co,pletely stabdardized data cause mean  is -3.394312e-17 approx (0) and std is 1

In [ ]:
# Normalization(MinMaxScalar)       # formula : xnormalized = (x - xminimum) / (Xmaximum-Xminimum)
mn = MinMaxScaler()

In [ ]:
df.columns

In [ ]:
minmax_scaled = pd.DataFrame(mn.fit_transform(df), columns=df.columns)
minmax_scaled

In [ ]:
minmax_scaled.describe()       # In normalization minimum value should be 0 and maximumn value should be 1